body {
  font-family: "Nunito", sans-serif;
}

#footer {
  width: 100%;
  height: 200px;
  background-color: #f7f6f6;
  margin: 0;
  padding: 0;
}
#footer .row {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(5, 40px);
}
#footer .row #redes-footer {
  display: flex;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 1/3;
}
#footer .row #redes-footer .footer-redes {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 50%;
  padding: 0;
}
#footer .row #redes-footer .footer-redes .redes {
  width: 35px;
  height: 35px;
}
#footer .row #footer-info-privacidad {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 4/5;
}
#footer .row #footer-info-privacidad .info-privacidad-footer {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
#footer .row #footer-info-privacidad .info-privacidad-footer .info-legal {
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .row #footer-info-privacidad .info-privacidad-footer .politica-privacidad {
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .row .copyright {
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  padding: 0;
}
#footer .row #linea-top {
  width: 100%;
  grid-column: 1/3;
  grid-row: 1;
  padding: 0;
}
#footer .row #linea-top .linea-arriba {
  border-width: 2px;
  border-color: #840705;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0;
  opacity: 100%;
}
#footer .row #linea-right {
  width: 100%;
  grid-column: 2/3;
  grid-row: 2;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
}
#footer .row #linea-right .linea-derecha {
  border-width: 2px;
  border-color: #840705;
  opacity: 100%;
  grid-column: 3/6;
  grid-row: 1;
  margin: 17px 0 0;
  width: 100%;
}
#footer .row #linea-left {
  width: 100%;
  grid-column: 1/2;
  grid-row: 2;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
}
#footer .row #linea-left .linea-izquierda {
  border-width: 2px;
  border-color: #840705;
  opacity: 100%;
  grid-column: 1/4;
  grid-row: 1;
  margin: 17px 0 0;
  width: 100%;
}

#nav {
  background-color: #840705;
  margin: 0;
}
#nav .nav-link {
  color: white;
}
#nav .nav-link:hover {
  color: black;
}
#nav .navbar-brand {
  color: white;
}
#nav .navbar-brand:hover {
  color: black;
}
#nav .btn.btn-outline-success {
  background-color: black;
  color: white;
  border: none;
}
#nav .btn.btn-outline-success:hover {
  color: black;
  background-color: white;
}

.slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 300%;
  height: 356px;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.zona-productos {
  margin: 0;
  padding: 0;
}
.zona-productos .product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.zona-productos .product img {
  max-width: 100%;
  height: auto;
}
.zona-productos .product h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.zona-productos .product .price {
  font-weight: bold;
  color: #009688;
  font-size: 1.2em;
}
.zona-productos .product button {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .zona-productos .product {
    max-width: 350px;
    margin: 0 auto;
  }
}

.fondo-contacto {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  height: 600px;
  justify-items: center;
  align-items: center;
}
.fondo-contacto .informacion {
  background-color: #f7f6f6;
  width: 80%;
  height: 500px;
  border: solid 2px;
  border-color: black;
  grid-column: 1;
  display: grid;
  justify-items: center;
  grid-template-rows: 60px 460px;
}
.fondo-contacto .informacion .tittle-informacion {
  grid-row: 1;
  grid-column: 1;
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.fondo-contacto .informacion .texto-informacion {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fondo-contacto .informacion .texto-informacion .titulos-informacion {
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.fondo-contacto .informacion .texto-informacion .texto-info {
  color: black;
  font-size: 18px;
}
.fondo-contacto .informacion .texto-informacion .icons-info {
  height: 25px;
  width: 25px;
}

/*# sourceMappingURL=main.css.map */
