@charset "UTF-8";
body {
  font-family: "Nunito", sans-serif;
}

#footer {
  width: 100%;
  height: 200px;
  background-color: #f7f6f6;
  margin: 0;
  padding: 0;
}
#footer .row {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(5, 40px);
}
#footer .row #redes-footer {
  display: flex;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 1/3;
}
#footer .row #redes-footer .footer-redes {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 50%;
  padding: 0;
}
#footer .row #redes-footer .footer-redes .redes {
  width: 35px;
  height: 35px;
}
#footer .row #footer-info-privacidad {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 4/5;
}
#footer .row #footer-info-privacidad .info-privacidad-footer {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
#footer .row #footer-info-privacidad .info-privacidad-footer .info-legal {
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .row #footer-info-privacidad .info-privacidad-footer .politica-privacidad {
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .row .copyright {
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  padding: 0;
}
#footer .row #linea-top {
  width: 100%;
  grid-column: 1/3;
  grid-row: 1;
  padding: 0;
}
#footer .row #linea-top .linea-arriba {
  border-width: 2px;
  border-color: #840705;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0;
  opacity: 100%;
}
#footer .row #linea-right {
  width: 100%;
  grid-column: 2/3;
  grid-row: 2;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
}
#footer .row #linea-right .linea-derecha {
  border-width: 2px;
  border-color: #840705;
  opacity: 100%;
  grid-column: 3/6;
  grid-row: 1;
  margin: 17px 0 0;
  width: 100%;
}
#footer .row #linea-left {
  width: 100%;
  grid-column: 1/2;
  grid-row: 2;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
}
#footer .row #linea-left .linea-izquierda {
  border-width: 2px;
  border-color: #840705;
  opacity: 100%;
  grid-column: 1/4;
  grid-row: 1;
  margin: 17px 0 0;
  width: 100%;
}

#nav {
  background-color: #840705;
  margin: 0;
}
#nav .nav-link {
  color: white;
}
#nav .nav-link:hover {
  color: black;
}
#nav .navbar-brand {
  color: white;
}
#nav .navbar-brand:hover {
  color: black;
}
#nav .btn.btn-outline-success {
  background-color: black;
  color: white;
  border: none;
}
#nav .btn.btn-outline-success:hover {
  color: black;
  background-color: white;
}

.slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 300%;
  height: 356px;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.zona-productos {
  margin: 0;
  padding: 0;
}
.zona-productos .product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.zona-productos .product img {
  max-width: 100%;
  height: auto;
}
.zona-productos .product h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.zona-productos .product .price {
  font-weight: bold;
  color: #009688;
  font-size: 1.2em;
}
.zona-productos .product button {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .zona-productos .product {
    max-width: 350px;
    margin: 0 auto;
  }
}

.productos-destacados {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos-destacados .titulo-productos-destacados {
  font-size: 30px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 20px 10px 0px 10px;
  border: solid 2px;
  border-radius: 4px;
  width: 40%;
  background-color: #840705;
}
.productos-destacados .listado-productos {
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: auto;
  border: solid 2px;
  margin: 20px;
  background-color: #f7f6f6;
}
.productos-destacados .listado-productos .producto {
  width: 204px;
  height: auto;
  margin: 20px;
  border: solid 2px;
  border-color: black;
  border-radius: 10px;
  background-color: #f7f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.productos-destacados .listado-productos .producto .imagen-producto {
  width: 200px;
  height: 50%;
  border-radius: 8px 8px 0px 0px;
}
.productos-destacados .listado-productos .producto .contenido-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos-destacados .listado-productos .producto .contenido-producto .titulo-producto {
  font-size: 18px;
  color: black;
  font-weight: 400;
  text-align: center;
}
.productos-destacados .listado-productos .producto .contenido-producto .boton-comprar {
  border: solid 2px;
  background-color: white;
  border-color: #840705;
  border-radius: 5px;
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  text-decoration: none;
  font-size: 25px;
  width: 60%;
  height: 30%;
  text-align: center;
  margin: 4px;
}
.productos-destacados .listado-productos .producto .contenido-producto .boton-comprar:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #840705;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.productos-destacados .listado-productos .producto .contenido-producto .boton-comprar:hover {
  color: #fff;
}
.productos-destacados .listado-productos .producto .contenido-producto .boton-comprar:hover:after {
  width: 110%;
}

.fondo-contacto {
  background-color: white;
  width: auto;
  height: auto;
}
.fondo-contacto .informacion {
  background-color: #f7f6f6;
  width: 80%;
  min-height: 520px;
  height: auto;
  margin: 20px;
  border: solid 2px;
  border-color: black;
  grid-column: 1;
  display: grid;
  justify-items: center;
  grid-template-rows: 60px 460px;
  overflow: auto;
}
.fondo-contacto .informacion .tittle-informacion {
  padding: 10px;
  grid-row: 1;
  grid-column: 1;
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.fondo-contacto .informacion .texto-informacion {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fondo-contacto .informacion .texto-informacion .titulos-informacion {
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.fondo-contacto .informacion .texto-informacion .texto-info {
  color: black;
  font-size: 18px;
}
.fondo-contacto .informacion .texto-informacion .icons-info {
  height: 25px;
  width: 25px;
}
.fondo-contacto .formulario {
  background-color: #f7f6f6;
  width: 80%;
  min-height: 524px;
  height: auto;
  margin: 20px;
  border: solid 2px;
  border-color: black;
  display: grid;
  justify-items: center;
  grid-template-rows: 60px 460px;
}
.fondo-contacto .formulario .tittle-contacto {
  padding: 10px;
  font-size: 30px;
  color: black;
  font-weight: 600;
  grid-column: 1/2;
  grid-row: 1;
}
.fondo-contacto .formulario .form-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo-contacto .formulario .form-1 .div-arriba {
  grid-row: 1;
  width: 100%;
  height: auto;
}
.fondo-contacto .formulario .form-1 .div-arriba .nombre {
  width: 97%;
  height: 25px;
  margin: 4px;
  grid-column: 1;
  grid-row: 1;
}
.fondo-contacto .formulario .form-1 .div-arriba .mail {
  width: 97%;
  height: 25px;
  margin: 4px;
  grid-column: 2;
  grid-row: 1;
}
.fondo-contacto .formulario .form-1 .div-abajo {
  grid-row: 2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo-contacto .formulario .form-1 .div-abajo .mensaje {
  width: 98%;
  height: 150px;
  margin: 4px;
}
.fondo-contacto .formulario .form-1 .div-abajo .boton {
  width: 98%;
  height: 30px;
  margin: 4px;
}
.fondo-contacto .formulario .form-1 .mapa {
  margin: 4px;
  width: 97%;
  height: 100%;
}

.fondo-ingresar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo-ingresar .conectar {
  width: 60%;
  height: auto;
  border: solid 2px;
  background-color: #f7f6f6;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo-ingresar .conectar .tittle-cuentas {
  font-size: 30px;
  color: black;
  margin: 5px;
  font-weight: 600;
}
.fondo-ingresar .conectar .conectar-google {
  border: solid 1px;
  width: 80%;
  height: auto;
  margin: 5px;
  background-color: white;
  font-size: 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
}
.fondo-ingresar .conectar .conectar-google .icono-google {
  width: 25px;
  height: 25px;
  margin: 2px;
}
.fondo-ingresar .conectar .conectar-facebook {
  border: solid 1px;
  width: 80%;
  height: auto;
  margin: 5px;
  background-color: #3b5998;
  font-size: 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
}
.fondo-ingresar .conectar .conectar-facebook .icono-facebook {
  width: 25px;
  height: 25px;
  margin: 2px;
}
.fondo-ingresar .ingresar {
  width: 60%;
  height: auto;
  border: solid 2px;
  background-color: #f7f6f6;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo-ingresar .ingresar .tittle-registro {
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo-ingresar .ingresar .form-2 .email-registro {
  width: 80%;
  height: auto;
  background-color: white;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 .contraseña {
  width: 80%;
  background-color: white;
  height: auto;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 .confirmar-contraseña {
  width: 80%;
  background-color: white;
  height: auto;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 .tittle-info-personal {
  color: black;
  font-size: 30px;
  margin: 5px;
  font-weight: 600;
  text-align: center;
}
.fondo-ingresar .ingresar .form-2 .nombre-registro {
  width: 80%;
  background-color: white;
  height: auto;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 .apellido-registro {
  width: 80%;
  background-color: white;
  height: auto;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 .dni-registro {
  width: 80%;
  background-color: white;
  height: auto;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 .telefono-registro {
  width: 80%;
  background-color: white;
  height: auto;
  margin: 5px;
}
.fondo-ingresar .ingresar .form-2 .boton-registro {
  width: 80%;
  background-color: #f7f6f6;
  height: auto;
  margin: 5px;
}

.fondo-nosotros {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
}
.fondo-nosotros .nosotros {
  width: 50%;
  height: auto;
  margin: 20px;
  border: solid 2px;
  border-color: black;
  background-color: #f7f6f6;
  display: flex;
  flex-direction: column;
}
.fondo-nosotros .nosotros .tittle-nosotros {
  font-size: 30px;
  color: black;
  font-weight: 600;
  margin: 5px;
  text-align: center;
}
.fondo-nosotros .nosotros .texto-nosotros {
  font-size: 18px;
  color: black;
  margin: 5px 10px;
}

.fondo-productos {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.fondo-productos .listado-productos {
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: auto;
  border: solid 2px;
  margin: 20px;
  background-color: #f7f6f6;
}
.fondo-productos .listado-productos .producto {
  width: 204px;
  height: auto;
  margin: 20px;
  border: solid 2px;
  border-color: black;
  border-radius: 10px;
  background-color: #f7f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fondo-productos .listado-productos .producto .imagen-producto {
  width: 200px;
  height: 50%;
  border-radius: 8px 8px 0px 0px;
}
.fondo-productos .listado-productos .producto .contenido-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo-productos .listado-productos .producto .contenido-producto .titulo-producto {
  font-size: 18px;
  color: black;
  font-weight: 400;
  text-align: center;
}
.fondo-productos .listado-productos .producto .contenido-producto .boton-comprar {
  border: solid 2px;
  background-color: white;
  border-color: #840705;
  border-radius: 5px;
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  text-decoration: none;
  font-size: 25px;
  width: 60%;
  height: 30%;
  text-align: center;
  margin: 4px;
}
.fondo-productos .listado-productos .producto .contenido-producto .boton-comprar:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #840705;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.fondo-productos .listado-productos .producto .contenido-producto .boton-comprar:hover {
  color: #fff;
}
.fondo-productos .listado-productos .producto .contenido-producto .boton-comprar:hover:after {
  width: 110%;
}

/*# sourceMappingURL=main.css.map */
