.fondo-nosotros {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: $color-terciario;
    .nosotros {
        width: 90%;
        height: auto;
        margin: 10px;
        border: solid 2px;
        border-color: black;
        background-color: $color-secundario;
            .tittle-nosotros {
                font-size: $size-titulos;
                color: $color-letra-secundario;
                font-weight: 600;
                margin: 5px;
                text-align: center;
            }
            .container-imagenes-arreglo-pc {
                display: flex;
                align-items: center;
                justify-content: space-around;
                    .imagenes-arreglo-pc {
                        margin: 10px;
                        border: solid 2px;
                        border-color: black;
                    }
            }
            .texto-nosotros {
                font-size: $size-texto;
                color: $color-letra-secundario;
                margin: 5px 10px;
            }
    }
}
